.breadcrumb__links a {
    text-decoration: none;
    color: var(--gray);
}

/*************************************************/
.produit-grid-categorie {
    width: 250px;
    margin-bottom: 15px;
}

/**************************************************/
.bloc-title-categorie{
    margin-bottom: 12px;
}
.page-title-categorie {
    font-size: 30px;
    letter-spacing: -2px;
    margin-right: 9px;
    text-transform: uppercase;
}

/***********   CATEGORIE PLLIES ***********/

        .filters-wrapper {
        position: relative;
        display: flex;
        align-items: center;
    }

    .filters-container {
        display: flex;
        overflow-x: auto;
        scroll-behavior: smooth;
        scrollbar-width: none;
        background-color: #fff;
        border-radius: 8px;
        padding: 10px;
        flex-grow: 1;
    }

    .filters-container::-webkit-scrollbar {
        display: none;
    }

    .filter-item {
        white-space: nowrap;
        flex: 0 0 auto;
        margin-right: 10px;
         border-radius: 19px;
         border: 1px solid var(--gray);
    }
    .filter-item:hover {
        background-color: var(--primary);
        color: var(--white);
        border: 1px solid var(--primary);
    }

    .scroll-arrow {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-color: #f8f9fa;
        border: 1px solid #ccc;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.3s;
    }

    .scroll-arrow:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    .scroll-arrow:hover:not(:disabled) {
        background-color: #e9ecef;
    }





   .content-header { margin-bottom: 16px; }
    .page-title { font-size: 28px; margin: 0 0 12px 0 }
    .filters { display:flex; justify-content: space-between; width: 100%; flex-wrap:wrap; gap:10px; align-items:center; }
    .filter-btn {
      border: 1px solid var(--gray);
      padding: 8px 12px;
      border-radius: 4px;
      background: #fff;
      cursor: pointer;
      font-size: 13px;

    }
    
     .filter-btn:hover {
        background-color: var(--primary_hover);
        color: var(--white);
     }

    