:root {
    --primary: rgb(1, 18, 255);
    --primary_hover: rgb(18, 148, 199);
    --muted : rgb(238, 238, 238);
    --white : white;
    --gray : gray;
    --black : black;


    --bg-naviguation :   #02020ebb;

    /********* PROUDIT ***********/
    --card-shadow: 0 6px 18px rgba(16, 23, 39, 0.103);
    --round: 12px;


    --ns-muted:#6b7280;
}

/*********    BODY STYLE   *******************************/
body{ margin: 0; padding : 0; }
/*********    DEDEFINITION DES CLASSES BOOTSTRAP *********/

.btn-primary{ background-color: var(--primary); border: 1px solid var(--primary);}
.btn-outline-primary{background-color: var(--white); border: 1px solid var(--primary); color: var(--primary);}
.text-primary{color:var(--primary)!important;}

.text-white{color:var(--white)!important;}

.text-primary:hover{color:var(--primary_hover)!important;}
.bg-blanc{background-color: var(--white);}
.btn-primary:hover,.btn-primary:active {background-color: var(--primary_hover)!important; border: 1px solid var(--primary_hover);}
.btn-outline-primary:hover{background-color: var(--primary); border: 1px solid var(--primary); color: var(--white);}





