/** slider réécrit avec classes uniques */
.slider-wrapper {
  position: relative;
  width: 100%;
  height: 70vh;
}

.slide-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  color: white;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: opacity 1.2s ease-in-out, visibility 1.2s;
}

.slide-item.active-slide {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}
.wrapper-text-principal{
 max-width: 50%;
  
}
.slide-content-wrapper {
 /*  position: absolute;
  bottom: 30%;
  left: 10%; */
  margin-top: 7%;
  margin-left: 9%;
  margin-right: 9%;
 
  animation: slideFadeUp 1s ease forwards;
}

.slide-content-wrapper h1 {
  font-size: 4rem;
  font-weight: bold;
}

.slide-content-wrapper p {
  font-size: 1.2rem;
}

.slide-content-wrapper .cta-btn {
  margin-top: 1.5rem;
}

.nav-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  padding: 0.5rem 1.3rem;
  cursor: pointer;
  z-index: 5;
  transition: background 0.3s;
  border-radius: 100px;
}

.nav-arrow:hover {
  background: var(--primary);
}

.nav-arrow.prev-arrow {
  left: 20px;
}

.nav-arrow.next-arrow {
  right: 20px;
}

.slider-dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  padding: 6px 12px;
  border-radius: 20px;
}

.dot-button {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  position: relative;
  z-index: 15;
  border: none;
  background-color: rgb(255, 255, 255);
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot-button.active-dot {
  background-color: var(--primary);
}

/* Animation du contenu */
@keyframes slideFadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
