/*=========== topbar ============*/
.topbar { background-color: rgba(13, 195, 250, 0.082); color: gray; font-size: 0.9rem; }
.topbar .lienshaut a{ color: #040718; text-decoration: none; transition: 0.5s;}
.topbar .lienshaut a:nth-child(2){ padding-left: 10px; padding-right: 10px; }
.topbar .lienshaut a:hover{ color: #088178; text-decoration: underline;}
.livraison-bloc{ font-weight: 600; color: #333;}

/*=========  BLOCK : OYEO , BLOC SEARCH , FAVORIS-PANIER-MON COMPTE ============*/
.actions { color: var(--gray); display: flex;}
.actions .icon {padding: 10px; font-size: 16px; font-weight: 400; text-decoration: none; }
.actions .icon i{font-size: 20px; color: var(--primary)!important; }
.actions .icon .icon_text{ font-size: 15px; color: var(--gray)!important; }
.blocsearch { width: 50%; margin: 0px 12px;}
#searchInput { border-radius: 50px; padding: 8px 15px !important; font-size: 0.85rem;}
#searchInput:focus { box-shadow: none !important; border-color: #ced4da !important;}
.logo {font-size: 2.5rem;font-weight: bold;}
.logo .dot {color: var(--primary);}

/*========= MENU DE NAVIGATION ==================================================*/
.maNavigation {z-index:15!important;position: relative;}
.menu-bar a {
  text-decoration: none;
  color: var(--black);
  font-weight: 520;
  transition: 0.3s;
}
.menu-bar {
  text-transform: capitalize;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  /* Pour s’étendre sur tout le parent */
  z-index: 1000;
  /* Toujours au-dessus des sous-menus */
  background-color: white;
  height: 48px;
}
.menu-bar ul {
  display: inline-flex;
  list-style: none;
}
.menu-bar ul li {
  padding: 12px 18px;
  transition: 0.3s ease-in-out;
}
.menu-bar ul li:hover a {
  color: var(--primary);
}
.menu-bar ul li:hover .sub-menu-1 a {
  color: #ffffff;
}
.menu-bar ul li .sub-menu-1 ul li:hover .sub-menu-2 div div a {
  color: var(--black) !important;
  padding: 3px 0px;
}
.menu-bar ul li .sub-menu-1 ul li .sub-menu-2 div div a:hover {
  color: var(--primary) !important;
}
.menu-bar ul li ul li:hover a {
  color: var(--primary_hover) !important;
}
.sub-menu-1 {
  display: none;
}
.menu-bar ul li:hover .sub-menu-1 {
  background-color: var(--bg-naviguation);
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  margin-top: 12px;
}
.menu-bar ul li .sub-menu-1 ul {
  display: inline-flex;
  text-align: left;
  list-style: none;
  list-style-type: 0;
}
.sub-menu-2 {
  display: none;
}
.menu-bar ul li .sub-menu-1 ul li:hover .sub-menu-2 {
  background-color: #ffffff;
  border-bottom: 5px solid var(--bg-naviguation);
  padding: 15px;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  margin-top: 12px;
  max-height: 60vh;
  overflow-y: auto;
}
.menu-bar ul li .sub-menu-1 ul li .sub-menu-2 ul {
  display: block;
  text-align: left;
  list-style: none;
  list-style-type: 0;
}
.menu-bar ul li .sub-menu-1 a {
  display: block;
  list-style: none;
  list-style-type: 0;
}
.image_navbar {
    background-size: cover;
    height: 120px;
    background-position: center;
    transition: .3s;
}
.image_navbar:hover {
    transform: scale(.95);
}







